*.perspective
*.perspectivev3
*.pbxuser
*.mode1v3
*.DS_Store
*xcuserdata*
.idea
.bundle
*xcscmblueprint*

build/*
!.gitignore
test-reports/*
iosversion.json
fastlane/README.md
fastlane/report.xml

*.pyc
